# SageMaker specific
*.tar.gz
.sagemaker-uploading
.sagemaker-uploaded

# Standard Python ignores
__pycache__/
*.py[cod]
*.class
*.so
.env
.venv
env/
venv/

# Model files
*.pth
checkpoints/

# Output and logs
wandb/
logs/
outputs/
data/patches